<%- include("./header.ejs") %>
<nav>
    <ul class="menu">
        <li>Web</li>
        <li>Apps</li>
    </ul>
    <h1>Luiz Felipe || Desenvolvedor Web | Full-Stack</h1>
</nav>
<div class="clear"></div>