<%- include("./header.ejs") %>
<nav>
    <ul class="menu">
        <li id="project" class="itens">Projetos</li>
    </ul>
    <h1>Luiz Felipe || Desenvolvedor Full-Stack</h1>
</nav>
<div class="clear"></div>